@font-face {
    font-family: webfont;
    font-display: swap;
    src: url('/css/webfont.ttf') format('truetype');
    /*src: url('https://blog-1313503696.cos.ap-nanjing.myqcloud.com/blog/webfont.ttf') format('truetype');*/
}